<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:映射器接口的全名 -->
<mapper namespace="net.onest.server.dao.ShoppingCartMapper">

    <!-- 结果映射 -->
    <resultMap type="net.onest.server.entity.ShoppingCart" id="shoppingCart">
        <id column="id" property="id"></id>
        <result column="p_id" property="pid"/>
        <result column="u_id" property="uid"/>       
    </resultMap>
    
    
    <insert id="insertCart">
        insert into shoppingcart(p_id,u_id)
        values(#{pid},#{uid})
    </insert>
  	<select id="findAllShoppingCart"  resultMap="shoppingCart">
           select * from shoppingcart
    </select>
    <select id="findCheckout" resultMap="shoppingCart">
    		select * from product where id in (select p_id from shoppingcart where u_id= #{uid})
    </select>
</mapper>